﻿body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1040px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:491px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u21903 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:491px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u21903_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:491px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u21903.selected {
}
#u21904 {
  position:absolute;
  left:2px;
  top:238px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u21905 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u21905_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u21905.selected {
}
#u21906 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u21907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21907 {
  position:absolute;
  left:40px;
  top:100px;
  width:52px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21908 {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  white-space:nowrap;
}
#u21909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21909 {
  position:absolute;
  left:40px;
  top:170px;
  width:32px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21910 {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u21911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21911 {
  position:absolute;
  left:40px;
  top:130px;
  width:58px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21912 {
  position:absolute;
  left:0px;
  top:5px;
  width:59px;
  white-space:nowrap;
}
#u21913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u21913 {
  position:absolute;
  left:160px;
  top:130px;
  width:239px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:409;
  font-style:normal;
}
#u21914 {
  position:absolute;
  left:0px;
  top:6px;
  width:243px;
  white-space:nowrap;
}
#u21915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u21915 {
  position:absolute;
  left:160px;
  top:100px;
  width:78px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#000000;
}
#u21916 {
  position:absolute;
  left:0px;
  top:6px;
  width:79px;
  white-space:nowrap;
}
#u21917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21917 {
  position:absolute;
  left:160px;
  top:175px;
  width:20px;
  height:20px;
}
#u21917_img.selected {
}
#u21917.selected {
}
#u21918 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21919 {
  position:absolute;
  left:190px;
  top:175px;
  width:20px;
  height:20px;
}
#u21919_img.selected {
}
#u21919.selected {
}
#u21920 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21921 {
  position:absolute;
  left:220px;
  top:175px;
  width:20px;
  height:20px;
}
#u21921_img.selected {
}
#u21921.selected {
}
#u21922 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21923 {
  position:absolute;
  left:250px;
  top:175px;
  width:20px;
  height:20px;
}
#u21923_img.selected {
}
#u21923.selected {
}
#u21924 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21925 {
  position:absolute;
  left:280px;
  top:175px;
  width:20px;
  height:20px;
}
#u21925_img.selected {
}
#u21925.selected {
}
#u21926 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21927 {
  position:absolute;
  left:40px;
  top:210px;
  width:58px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21928 {
  position:absolute;
  left:0px;
  top:5px;
  width:59px;
  white-space:nowrap;
}
#u21929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21929 {
  position:absolute;
  left:40px;
  top:250px;
  width:58px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21930 {
  position:absolute;
  left:0px;
  top:5px;
  width:59px;
  white-space:nowrap;
}
#u21931 {
  position:absolute;
  left:160px;
  top:250px;
}
#u21931_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21931_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u21932 {
  position:absolute;
  left:70px;
  top:0px;
  width:60px;
  height:50px;
}
#u21933 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u21934 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u21935 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21936 {
  position:absolute;
  left:40px;
  top:310px;
  width:58px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21937 {
  position:absolute;
  left:0px;
  top:5px;
  width:59px;
  white-space:nowrap;
}
#u21938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 207, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u21939 {
  position:absolute;
  left:160px;
  top:310px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u21939_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(155, 167, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u21939.selected {
}
#u21939_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u21939.disabled {
}
#u21940 {
  position:absolute;
  left:10px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21941 {
  position:absolute;
  left:168px;
  top:310px;
  width:238px;
  height:30px;
}
#u21941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u21942 {
  position:absolute;
  left:420px;
  top:310px;
  width:65px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
}
#u21943 {
  position:absolute;
  left:0px;
  top:6px;
  width:66px;
  white-space:nowrap;
}
#u21944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21944 {
  position:absolute;
  left:40px;
  top:350px;
  width:52px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u21945 {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  white-space:nowrap;
}
#u21946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u21946 {
  position:absolute;
  left:160px;
  top:350px;
  width:147px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:409;
  font-style:normal;
}
#u21947 {
  position:absolute;
  left:0px;
  top:6px;
  width:159px;
  white-space:nowrap;
}
#u21948 {
  position:absolute;
  left:394px;
  top:461px;
  width:100px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u21949 {
  position:absolute;
  left:0px;
  top:461px;
  width:1040px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u21949_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u21949.selected {
}
#u21950 {
  position:absolute;
  left:20px;
  top:15px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u21951 {
  position:absolute;
  left:750px;
  top:481px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u21951_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u21951.mouseOver {
  opacity:0.8;
}
#u21952 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u21953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u21953 {
  position:absolute;
  left:880px;
  top:481px;
  width:120px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u21953_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u21953.mouseOver {
}
#u21953_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u21953.disabled {
  opacity:0.3;
}
#u21954 {
  position:absolute;
  left:5px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u21955 {
  position:absolute;
  left:40px;
  top:531px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:30px;
}
#u21956 {
  position:absolute;
  left:160px;
  top:210px;
  width:348px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
}
#u21957 {
  position:absolute;
  left:0px;
  top:6px;
  width:348px;
  word-wrap:break-word;
}
#u21958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u21958 {
  position:absolute;
  left:81px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u21959 {
  position:absolute;
  left:0px;
  top:12px;
  width:85px;
  white-space:nowrap;
}
#u21960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u21961 {
  position:absolute;
  left:20px;
  top:12px;
  width:9px;
  height:16px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#3E3E3E;
}
#u21961_img.selected {
}
#u21961.selected {
}
#u21961_img.disabled {
}
#u21961.disabled {
  opacity:0.3;
}
#u21962 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21963 {
  position:absolute;
  left:20px;
  top:0px;
  width:41px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21963_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21963.selected {
}
#u21964 {
  position:absolute;
  left:0px;
  top:12px;
  width:41px;
  word-wrap:break-word;
}
