﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(152, 152, 152, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54407 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u54408 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54409 {
  position:fixed;
  left:0px;
  top:0px;
}
#u54409_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u54409_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54410 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u54411 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u54413 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u54414 {
  position:absolute;
  left:10px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u54415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u54415 {
  position:absolute;
  left:238px;
  top:6px;
  width:14px;
  height:10px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u54416 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u54417 {
  position:absolute;
  left:295px;
  top:5px;
  width:18px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u54418 {
  position:absolute;
  left:2px;
  top:-3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u54419 {
  position:absolute;
  left:189px;
  top:0px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u54420 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u54421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u54421 {
  position:absolute;
  left:267px;
  top:0px;
  width:26px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u54422 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u54424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u54425 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u54426 {
  position:absolute;
  left:60px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u54427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u54428 {
  position:absolute;
  left:10px;
  top:34px;
  width:9px;
  height:16px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u54429 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u54430 {
  position:absolute;
  left:0px;
  top:20px;
  width:44px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u54431 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54432 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u54433 {
  position:absolute;
  left:282px;
  top:39px;
  width:6px;
  height:6px;
}
#u54434 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u54435 {
  position:absolute;
  left:290px;
  top:39px;
  width:6px;
  height:6px;
}
#u54436 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u54437 {
  position:absolute;
  left:298px;
  top:39px;
  width:6px;
  height:6px;
}
#u54438 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54439 {
  position:absolute;
  left:0px;
  top:20px;
  width:45px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54441 {
  position:absolute;
  left:0px;
  top:351px;
  width:320px;
  height:218px;
}
#u54442 {
  position:absolute;
  left:2px;
  top:101px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u54443 {
  position:absolute;
  left:10px;
  top:340px;
  width:36px;
  height:36px;
}
#u54444 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u54445 {
  position:absolute;
  left:56px;
  top:362px;
  width:115px;
  height:14px;
  font-size:12px;
  color:#AEAEAE;
}
#u54446 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u54447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54447 {
  position:absolute;
  left:10px;
  top:406px;
  width:174px;
  height:20px;
}
#u54448 {
  position:absolute;
  left:0px;
  top:2px;
  width:169px;
  white-space:nowrap;
}
#u54449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 207, 218, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54449 {
  position:absolute;
  left:10px;
  top:434px;
  width:300px;
  height:20px;
}
#u54450 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u54451 {
  position:absolute;
  left:10px;
  top:454px;
  width:36px;
  height:36px;
}
#u54452 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u54453 {
  position:absolute;
  left:56px;
  top:454px;
  width:74px;
  height:20px;
  font-size:12px;
}
#u54454 {
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u54455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AEAEAE;
}
#u54455 {
  position:absolute;
  left:56px;
  top:474px;
  width:214px;
  height:20px;
  font-size:11px;
  color:#AEAEAE;
}
#u54456 {
  position:absolute;
  left:0px;
  top:3px;
  width:210px;
  white-space:nowrap;
}
#u54457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54457 {
  position:absolute;
  left:20px;
  top:518px;
  width:130px;
  height:30px;
}
#u54458 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u54459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u54459 {
  position:absolute;
  left:170px;
  top:518px;
  width:130px;
  height:30px;
  color:#FFFFFF;
}
#u54460 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
