﻿body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1040px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u9013 {
  position:absolute;
  left:1px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u9014 {
  position:absolute;
  left:0px;
  top:12px;
  width:85px;
  white-space:nowrap;
}
#u9015 {
  position:absolute;
  left:20px;
  top:3117px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:536px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u9016 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:536px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u9016_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:536px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u9016.selected {
}
#u9017 {
  position:absolute;
  left:2px;
  top:260px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9018 {
  position:absolute;
  left:0px;
  top:576px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9019 {
  position:absolute;
  left:0px;
  top:190px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9019_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9019.selected {
}
#u9020 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u9021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u9021 {
  position:absolute;
  left:0px;
  top:170px;
  width:1040px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u9021_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u9021.selected {
}
#u9022 {
  position:absolute;
  left:20px;
  top:15px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9023 {
  position:absolute;
  left:40px;
  top:100px;
  width:965px;
  height:75px;
}
#u9024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:70px;
}
#u9024 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9025 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:70px;
}
#u9026 {
  position:absolute;
  left:192px;
  top:0px;
  width:192px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9027 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:70px;
}
#u9028 {
  position:absolute;
  left:384px;
  top:0px;
  width:192px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9029 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:70px;
}
#u9030 {
  position:absolute;
  left:576px;
  top:0px;
  width:192px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9031 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:70px;
}
#u9032 {
  position:absolute;
  left:768px;
  top:0px;
  width:192px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9033 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9034 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9034_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9034.selected {
}
#u9035 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u9036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9036 {
  position:absolute;
  left:0px;
  top:370px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9036_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9036.selected {
}
#u9037 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u9038 {
  position:absolute;
  left:40px;
  top:430px;
  width:965px;
  height:105px;
}
#u9039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
}
#u9039 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9040 {
  position:absolute;
  left:10px;
  top:2px;
  width:228px;
  word-wrap:break-word;
}
#u9041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
}
#u9041 {
  position:absolute;
  left:240px;
  top:0px;
  width:240px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9042 {
  position:absolute;
  left:10px;
  top:2px;
  width:228px;
  word-wrap:break-word;
}
#u9043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
}
#u9043 {
  position:absolute;
  left:480px;
  top:0px;
  width:240px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9044 {
  position:absolute;
  left:10px;
  top:2px;
  width:228px;
  word-wrap:break-word;
}
#u9045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
}
#u9045 {
  position:absolute;
  left:720px;
  top:0px;
  width:240px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9046 {
  position:absolute;
  left:10px;
  top:2px;
  width:228px;
  word-wrap:break-word;
}
#u9047 {
  position:absolute;
  left:40px;
  top:250px;
  width:965px;
  height:105px;
}
#u9048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:100px;
}
#u9048 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9049 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:100px;
}
#u9050 {
  position:absolute;
  left:192px;
  top:0px;
  width:192px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9051 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:100px;
}
#u9052 {
  position:absolute;
  left:384px;
  top:0px;
  width:192px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9053 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:100px;
}
#u9054 {
  position:absolute;
  left:576px;
  top:0px;
  width:192px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9055 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:100px;
}
#u9056 {
  position:absolute;
  left:768px;
  top:0px;
  width:192px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9057 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u9058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u9058 {
  position:absolute;
  left:0px;
  top:350px;
  width:1040px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u9058_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u9058.selected {
}
#u9059 {
  position:absolute;
  left:20px;
  top:15px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
.u9061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
.u9061 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
.u9061_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
.u9061.mouseOver {
}
.u9061_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
.u9061.selected {
}
.u9062 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
.u9063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:20px;
}
.u9063 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:20px;
}
.u9063_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:20px;
}
.u9063.selected {
}
.u9063_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:20px;
}
.u9063.disabled {
  opacity:0.3;
}
.u9064 {
  position:absolute;
  left:0px;
  top:10px;
  width:27px;
  white-space:nowrap;
}
#u9060-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
}
#u9060-2 {
  position:absolute;
  left:37px;
  top:0px;
  width:27px;
  height:40px;
}
#u9060-3 {
  position:absolute;
  left:74px;
  top:0px;
  width:27px;
  height:40px;
}
#u9060-4 {
  position:absolute;
  left:111px;
  top:0px;
  width:27px;
  height:40px;
}
#u9060 {
  position:absolute;
  left:141px;
  top:200px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u9066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
.u9066 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
.u9066_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
.u9066.mouseOver {
}
.u9066_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
.u9066.selected {
}
.u9067 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
.u9068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:20px;
}
.u9068 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:20px;
}
.u9068_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:20px;
}
.u9068.selected {
}
.u9068_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:20px;
}
.u9068.disabled {
  opacity:0.3;
}
.u9069 {
  position:absolute;
  left:0px;
  top:10px;
  width:27px;
  white-space:nowrap;
}
#u9065-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:40px;
}
#u9065-2 {
  position:absolute;
  left:37px;
  top:0px;
  width:27px;
  height:40px;
}
#u9065-3 {
  position:absolute;
  left:74px;
  top:0px;
  width:27px;
  height:40px;
}
#u9065-4 {
  position:absolute;
  left:111px;
  top:0px;
  width:27px;
  height:40px;
}
#u9065 {
  position:absolute;
  left:141px;
  top:380px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
