﻿body {
  margin:0px;
  background-color:rgba(218, 218, 218, 1);
  background-image:none;
  position:relative;
  left:-190px;
  width:390px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u0 {
  position:absolute;
  left:190px;
  top:584px;
  width:180px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u0_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u0.mouseOver {
}
#u0_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u0.selected {
}
#u0_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u0.disabled {
  opacity:0.3;
}
#u1 {
  position:absolute;
  left:5px;
  top:80px;
  width:170px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2 {
  position:absolute;
  left:610px;
  top:105px;
  width:180px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2.mouseOver {
}
#u2_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2.selected {
}
#u2_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2.disabled {
  opacity:0.3;
}
#u3 {
  position:absolute;
  left:5px;
  top:80px;
  width:170px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u4 {
  position:absolute;
  left:190px;
  top:105px;
  width:180px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u4_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u4.mouseOver {
}
#u4_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u4.selected {
}
#u4_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u4.disabled {
  opacity:0.3;
}
#u5 {
  position:absolute;
  left:5px;
  top:80px;
  width:170px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u6 {
  position:absolute;
  left:190px;
  top:351px;
  width:180px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u6_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u6.mouseOver {
}
#u6_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u6.selected {
}
#u6_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u6.disabled {
  opacity:0.3;
}
#u7 {
  position:absolute;
  left:5px;
  top:80px;
  width:170px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u8 {
  position:absolute;
  left:190px;
  top:65px;
  width:52px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u10 {
  position:absolute;
  left:190px;
  top:311px;
  width:52px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u12 {
  position:absolute;
  left:610px;
  top:105px;
  width:180px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u12_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u12.mouseOver {
}
#u12_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u12.selected {
}
#u12_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u12.disabled {
  opacity:0.3;
}
#u13 {
  position:absolute;
  left:5px;
  top:80px;
  width:170px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u14 {
  position:absolute;
  left:820px;
  top:351px;
  width:180px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u14_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u14.mouseOver {
}
#u14_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u14.selected {
}
#u14_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u14.disabled {
  opacity:0.3;
}
#u15 {
  position:absolute;
  left:5px;
  top:80px;
  width:170px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u16 {
  position:absolute;
  left:610px;
  top:351px;
  width:180px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u16_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u16.mouseOver {
}
#u16_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u16.selected {
}
#u16_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u16.disabled {
  opacity:0.3;
}
#u17 {
  position:absolute;
  left:5px;
  top:80px;
  width:170px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u18 {
  position:absolute;
  left:400px;
  top:351px;
  width:180px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u18_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u18.mouseOver {
}
#u18_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u18.selected {
}
#u18_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u18.disabled {
  opacity:0.3;
}
#u19 {
  position:absolute;
  left:5px;
  top:80px;
  width:170px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20 {
  position:absolute;
  left:400px;
  top:105px;
  width:180px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20.mouseOver {
}
#u20_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20.selected {
}
#u20_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20.disabled {
  opacity:0.3;
}
#u21 {
  position:absolute;
  left:5px;
  top:80px;
  width:170px;
  word-wrap:break-word;
}
