﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32732 {
  position:fixed;
  left:50%;
  margin-left:-265.5px;
  top:50%;
  margin-top:-132.5px;
}
#u32732_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32732_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u32733 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:265px;
  text-align:left;
}
#u32734 {
  position:absolute;
  left:40px;
  top:70px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u32735 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u32736 {
  position:absolute;
  left:40px;
  top:14px;
  width:489px;
  word-wrap:break-word;
}
#u32737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32737 {
  position:absolute;
  left:0px;
  top:215px;
  width:531px;
  height:50px;
}
#u32738 {
  position:absolute;
  left:2px;
  top:17px;
  width:527px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u32739 {
  position:absolute;
  left:486px;
  top:13px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u32739_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u32739.mouseOver {
}
#u32740 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u32741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u32741 {
  position:absolute;
  left:40px;
  top:80px;
  width:27px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u32742 {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  white-space:nowrap;
}
#u32743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u32743 {
  position:absolute;
  left:341px;
  top:225px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u32743_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u32743.mouseOver {
  opacity:0.8;
}
#u32744 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u32745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u32745 {
  position:absolute;
  left:431px;
  top:225px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u32745_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u32745.mouseOver {
}
#u32745_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u32745.disabled {
  opacity:0.3;
}
#u32746 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u32747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 207, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u32748 {
  position:absolute;
  left:160px;
  top:80px;
  width:330px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u32748_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(155, 167, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u32748.selected {
}
#u32748_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u32748.disabled {
}
#u32749 {
  position:absolute;
  left:10px;
  top:27px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32750 {
  position:absolute;
  left:163px;
  top:81px;
  width:323px;
  height:65px;
}
#u32750_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u32751 {
  position:absolute;
  left:408px;
  top:127px;
  width:50px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u32752 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u32753 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
#u32754 {
  position:absolute;
  left:176px;
  top:160px;
  width:78px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
#u32755 {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  white-space:nowrap;
}
#u32756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32757 {
  position:absolute;
  left:160px;
  top:169px;
  width:13px;
  height:13px;
}
#u32757_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32757.selected {
}
#u32758 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u32759 {
  position:absolute;
  left:163px;
  top:173px;
  width:8px;
  height:6px;
}
#u32760 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
