﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:677px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39636 {
  position:fixed;
  left:50%;
  margin-left:-338.5px;
  top:50%;
  margin-top:-247.5px;
}
#u39636_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u39636_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:495px;
}
#u39637 {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:495px;
}
#u39638 {
  position:absolute;
  left:2px;
  top:240px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39639 {
  position:absolute;
  left:8px;
  top:446px;
  width:215px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39640 {
  position:absolute;
  left:637px;
  top:0px;
  width:40px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
