﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8092 {
  position:absolute;
  left:0px;
  top:1px;
  width:320px;
  height:568px;
}
#u8093 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8094 {
  position:absolute;
  left:20px;
  top:75px;
  width:280px;
  height:170px;
}
#u8095 {
  position:absolute;
  left:2px;
  top:77px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8096 {
  position:absolute;
  left:20px;
  top:255px;
  width:280px;
  height:20px;
}
#u8097 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8098 {
  position:absolute;
  left:20px;
  top:285px;
  width:166px;
  height:20px;
}
#u8099 {
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8100 {
  position:absolute;
  left:20px;
  top:315px;
  width:280px;
  height:20px;
}
#u8101 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8102 {
  position:absolute;
  left:20px;
  top:345px;
  width:280px;
  height:170px;
}
#u8103 {
  position:absolute;
  left:2px;
  top:77px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8104 {
  position:absolute;
  left:0px;
  top:1px;
  width:320px;
  height:64px;
}
#u8105 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u8106 {
  position:absolute;
  left:0px;
  top:1px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u8107 {
  position:absolute;
  left:10px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u8108 {
  position:absolute;
  left:225px;
  top:7px;
  width:14px;
  height:10px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u8109 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u8110 {
  position:absolute;
  left:282px;
  top:6px;
  width:18px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8111 {
  position:absolute;
  left:2px;
  top:-3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u8112 {
  position:absolute;
  left:176px;
  top:1px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u8113 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u8114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u8114 {
  position:absolute;
  left:254px;
  top:1px;
  width:26px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u8115 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u8116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u8116 {
  position:absolute;
  left:0px;
  top:21px;
  width:320px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u8117 {
  position:absolute;
  left:60px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u8118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u8119 {
  position:absolute;
  left:10px;
  top:35px;
  width:9px;
  height:16px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u8120 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u8121 {
  position:absolute;
  left:0px;
  top:21px;
  width:44px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u8122 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8123 {
  position:absolute;
  left:300px;
  top:1px;
  width:20px;
  height:568px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8125 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u8126 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:314px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 12px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 12px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 12px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u8127 {
  position:absolute;
  left:0px;
  top:255px;
  width:320px;
  height:314px;
  font-size:14px;
}
#u8128 {
  position:absolute;
  left:20px;
  top:149px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:24px;
  color:#1B1B1B;
  text-align:left;
}
#u8129 {
  position:absolute;
  left:20px;
  top:255px;
  width:280px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:24px;
  color:#1B1B1B;
  text-align:left;
}
#u8129_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:24px;
  color:#1B1B1B;
  text-align:left;
}
#u8129.selected {
}
#u8130 {
  position:absolute;
  left:0px;
  top:20px;
  width:278px;
  word-wrap:break-word;
}
#u8131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
  line-height:20px;
}
#u8131 {
  position:absolute;
  left:274px;
  top:273px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
  line-height:20px;
}
#u8131_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
  line-height:20px;
}
#u8131.mouseOver {
}
#u8132 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u8133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:182px;
}
#u8133 {
  position:absolute;
  left:0px;
  top:315px;
  width:320px;
  height:182px;
}
#u8134 {
  position:absolute;
  left:2px;
  top:83px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8135 {
  position:absolute;
  left:0px;
  top:525px;
  width:320px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8135_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8135.mouseDown {
}
#u8136 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u8137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#797979;
  line-height:20px;
}
#u8137 {
  position:absolute;
  left:25px;
  top:428px;
  width:31px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:15px;
  color:#797979;
  line-height:20px;
}
#u8138 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u8137_ann {
  position:absolute;
  left:49px;
  top:424px;
  width:1px;
  height:1px;
}
