﻿body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1040px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:2442px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u8963 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:2442px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u8963_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:2442px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u8963.selected {
}
#u8964 {
  position:absolute;
  left:2px;
  top:1213px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8965 {
  position:absolute;
  left:40px;
  top:2518px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
}
#u8967 {
  position:absolute;
  left:0px;
  top:650px;
  width:1040px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
}
#u8967_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
}
#u8967.selected {
}
#u8968 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u8969 {
  position:absolute;
  left:75px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u8970 {
  position:absolute;
  left:0px;
  top:12px;
  width:85px;
  white-space:nowrap;
}
#u8971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u8972 {
  position:absolute;
  left:14px;
  top:12px;
  width:9px;
  height:16px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#3E3E3E;
}
#u8972_img.selected {
}
#u8972.selected {
}
#u8972_img.disabled {
}
#u8972.disabled {
  opacity:0.3;
}
#u8973 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u8974 {
  position:absolute;
  left:14px;
  top:0px;
  width:41px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u8974_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u8974.selected {
}
#u8975 {
  position:absolute;
  left:0px;
  top:12px;
  width:41px;
  word-wrap:break-word;
}
#u8976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:40px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8977 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:40px;
  color:#000000;
}
#u8978 {
  position:absolute;
  left:2px;
  top:12px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8979 {
  position:absolute;
  left:20px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8979_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8979.selected {
}
#u8979_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8979.disabled {
  opacity:0.3;
}
#u8980 {
  position:absolute;
  left:6px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u8981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8981 {
  position:absolute;
  left:139px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8981_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8981.selected {
}
#u8981_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8981.disabled {
  opacity:0.3;
}
#u8982 {
  position:absolute;
  left:6px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u8983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8983 {
  position:absolute;
  left:258px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8983_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8983.selected {
}
#u8983_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8983.disabled {
  opacity:0.3;
}
#u8984 {
  position:absolute;
  left:6px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u8985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8985 {
  position:absolute;
  left:378px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8985_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8985.selected {
}
#u8985_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u8985.disabled {
  opacity:0.3;
}
#u8986 {
  position:absolute;
  left:6px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u8987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:510px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8987 {
  position:absolute;
  left:40px;
  top:140px;
  width:960px;
  height:510px;
}
#u8988 {
  position:absolute;
  left:2px;
  top:247px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8989 {
  position:absolute;
  left:0px;
  top:40px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8990 {
  position:absolute;
  left:0px;
  top:630px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8991 {
  position:absolute;
  left:0px;
  top:1220px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8992 {
  position:absolute;
  left:0px;
  top:1810px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u8993 {
  position:absolute;
  left:0px;
  top:80px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u8993_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u8993.selected {
}
#u8994 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u8995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u8995 {
  position:absolute;
  left:0px;
  top:670px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u8995_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u8995.selected {
}
#u8996 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u8997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:510px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8997 {
  position:absolute;
  left:40px;
  top:730px;
  width:960px;
  height:510px;
}
#u8998 {
  position:absolute;
  left:2px;
  top:247px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
}
#u9000 {
  position:absolute;
  left:0px;
  top:1240px;
  width:1040px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
}
#u9000_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
}
#u9000.selected {
}
#u9001 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9002 {
  position:absolute;
  left:0px;
  top:1260px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9002_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9002.selected {
}
#u9003 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u9004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:510px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9004 {
  position:absolute;
  left:40px;
  top:1320px;
  width:960px;
  height:510px;
}
#u9005 {
  position:absolute;
  left:2px;
  top:247px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
}
#u9007 {
  position:absolute;
  left:0px;
  top:1830px;
  width:1040px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
}
#u9007_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
}
#u9007.selected {
}
#u9008 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9009 {
  position:absolute;
  left:0px;
  top:1850px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9009_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u9009.selected {
}
#u9010 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u9011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:510px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9011 {
  position:absolute;
  left:40px;
  top:1910px;
  width:960px;
  height:510px;
}
#u9012 {
  position:absolute;
  left:2px;
  top:247px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
