﻿body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1040px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u21965 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:342px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u21965_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u21965.selected {
}
#u21966 {
  position:absolute;
  left:2px;
  top:163px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u21967 {
  position:absolute;
  left:1px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u21968 {
  position:absolute;
  left:0px;
  top:12px;
  width:85px;
  white-space:nowrap;
}
#u21969 {
  position:absolute;
  left:40px;
  top:100px;
  width:965px;
  height:125px;
}
#u21970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u21970 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u21971 {
  position:absolute;
  left:10px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u21972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u21972 {
  position:absolute;
  left:199px;
  top:0px;
  width:198px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u21973 {
  position:absolute;
  left:10px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u21974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u21974 {
  position:absolute;
  left:397px;
  top:0px;
  width:202px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u21975 {
  position:absolute;
  left:10px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
#u21976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:40px;
}
#u21976 {
  position:absolute;
  left:599px;
  top:0px;
  width:252px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u21977 {
  position:absolute;
  left:10px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u21978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u21978 {
  position:absolute;
  left:851px;
  top:0px;
  width:109px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u21979 {
  position:absolute;
  left:10px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u21980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u21980 {
  position:absolute;
  left:0px;
  top:40px;
  width:199px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u21980_img.selected {
}
#u21980.selected {
}
#u21981 {
  position:absolute;
  left:10px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u21982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u21982 {
  position:absolute;
  left:199px;
  top:40px;
  width:198px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#282828;
  text-align:left;
  line-height:20px;
}
#u21982_img.selected {
}
#u21982.selected {
}
#u21983 {
  position:absolute;
  left:10px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u21984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u21984 {
  position:absolute;
  left:397px;
  top:40px;
  width:202px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#282828;
  text-align:left;
  line-height:20px;
}
#u21984_img.selected {
}
#u21984.selected {
}
#u21985 {
  position:absolute;
  left:10px;
  top:10px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:40px;
}
#u21986 {
  position:absolute;
  left:599px;
  top:40px;
  width:252px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:408;
  font-style:normal;
  color:#1B1B1B;
  text-align:left;
}
#u21987 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u21988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u21988 {
  position:absolute;
  left:851px;
  top:40px;
  width:109px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u21988_img.selected {
}
#u21988.selected {
}
#u21989 {
  position:absolute;
  left:10px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u21990 {
  position:absolute;
  left:0px;
  top:80px;
  width:199px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u21990_img.selected {
}
#u21990.selected {
}
#u21991 {
  position:absolute;
  left:10px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u21992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u21992 {
  position:absolute;
  left:199px;
  top:80px;
  width:198px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#282828;
  text-align:left;
  line-height:20px;
}
#u21992_img.selected {
}
#u21992.selected {
}
#u21993 {
  position:absolute;
  left:10px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u21994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u21994 {
  position:absolute;
  left:397px;
  top:80px;
  width:202px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#282828;
  text-align:left;
}
#u21994_img.selected {
}
#u21994.selected {
}
#u21995 {
  position:absolute;
  left:10px;
  top:10px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:40px;
}
#u21996 {
  position:absolute;
  left:599px;
  top:80px;
  width:252px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:408;
  font-style:normal;
  color:#1B1B1B;
  text-align:left;
}
#u21997 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u21998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u21998 {
  position:absolute;
  left:851px;
  top:80px;
  width:109px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u21998_img.selected {
}
#u21998.selected {
}
#u21999 {
  position:absolute;
  left:10px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u22000 {
  position:absolute;
  left:40px;
  top:60px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u22000_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u22000.mouseOver {
}
#u22000_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u22000.disabled {
  opacity:0.3;
}
#u22001 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
.u22003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u22004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
.u22004 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
.u22004_img.selected {
}
.u22004.selected {
}
.u22004_img.disabled {
}
.u22004.disabled {
}
.u22005 {
  position:absolute;
  left:10px;
  top:7px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
.u22006 {
  position:absolute;
  left:5px;
  top:0px;
  width:57px;
  height:30px;
}
.u22006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
.u22007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
.u22007 {
  position:absolute;
  left:64px;
  top:0px;
  width:46px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
.u22007_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
.u22007.mouseOver {
  opacity:0.8;
}
.u22007_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
.u22007.disabled {
  opacity:0.3;
}
.u22008 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  word-wrap:break-word;
}
#u22002-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u22002-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:110px;
  height:30px;
}
#u22002 {
  position:absolute;
  left:448px;
  top:145px;
  width:110px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u22010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
.u22010 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
.u22010_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
.u22010.mouseOver {
}
.u22011 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
.u22012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
.u22012 {
  position:absolute;
  left:41px;
  top:0px;
  width:27px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
.u22012_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
.u22012.mouseOver {
}
.u22013 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
.u22014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#000000;
  text-align:center;
  line-height:20px;
}
.u22014 {
  position:absolute;
  left:27px;
  top:0px;
  width:14px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#000000;
  text-align:center;
  line-height:20px;
}
.u22015 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u22009-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u22009-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:68px;
  height:20px;
}
#u22009 {
  position:absolute;
  left:904px;
  top:150px;
  width:68px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u22016 {
  position:absolute;
  left:52px;
  top:382px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22020 {
  position:absolute;
  left:949px;
  top:230px;
  width:51px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22021 {
  position:absolute;
  left:0px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u22022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-right:0px;
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#D7D7D7;
}
#u22022 {
  position:absolute;
  left:723px;
  top:230px;
  width:51px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#D7D7D7;
}
#u22023 {
  position:absolute;
  left:0px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u22024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22024 {
  position:absolute;
  left:798px;
  top:230px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22025 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22026 {
  position:absolute;
  left:821px;
  top:230px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22027 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22028 {
  position:absolute;
  left:846px;
  top:230px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22029 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22030 {
  position:absolute;
  left:870px;
  top:230px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22031 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22032 {
  position:absolute;
  left:895px;
  top:230px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22033 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22034 {
  position:absolute;
  left:918px;
  top:230px;
  width:31px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22035 {
  position:absolute;
  left:0px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u22036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u22036 {
  position:absolute;
  left:773px;
  top:230px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u22037 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u22038 {
  position:absolute;
  left:899px;
  top:235px;
  width:16px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22039 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
