﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7945 {
  position:absolute;
  left:0px;
  top:1px;
  width:320px;
  height:568px;
}
#u7946 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7947 {
  position:absolute;
  left:20px;
  top:75px;
  width:280px;
  height:170px;
}
#u7948 {
  position:absolute;
  left:2px;
  top:77px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7949 {
  position:absolute;
  left:20px;
  top:255px;
  width:280px;
  height:20px;
}
#u7950 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7951 {
  position:absolute;
  left:20px;
  top:285px;
  width:166px;
  height:20px;
}
#u7952 {
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7953 {
  position:absolute;
  left:20px;
  top:315px;
  width:280px;
  height:20px;
}
#u7954 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7955 {
  position:absolute;
  left:20px;
  top:345px;
  width:280px;
  height:170px;
}
#u7956 {
  position:absolute;
  left:2px;
  top:77px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7957 {
  position:absolute;
  left:0px;
  top:1px;
  width:320px;
  height:64px;
}
#u7958 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u7959 {
  position:absolute;
  left:0px;
  top:1px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u7960 {
  position:absolute;
  left:10px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u7961 {
  position:absolute;
  left:225px;
  top:7px;
  width:14px;
  height:10px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u7962 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u7963 {
  position:absolute;
  left:282px;
  top:6px;
  width:18px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7964 {
  position:absolute;
  left:2px;
  top:-3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u7965 {
  position:absolute;
  left:176px;
  top:1px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u7966 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u7967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u7967 {
  position:absolute;
  left:254px;
  top:1px;
  width:26px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u7968 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u7969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u7969 {
  position:absolute;
  left:0px;
  top:21px;
  width:320px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u7970 {
  position:absolute;
  left:60px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u7971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u7972 {
  position:absolute;
  left:10px;
  top:35px;
  width:9px;
  height:16px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u7973 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u7974 {
  position:absolute;
  left:0px;
  top:21px;
  width:44px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u7975 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7976 {
  position:absolute;
  left:300px;
  top:1px;
  width:20px;
  height:568px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7978 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u7979 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 3px 12px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 12px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 12px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u7980 {
  position:absolute;
  left:20px;
  top:108px;
  width:280px;
  height:364px;
  font-size:14px;
}
#u7981 {
  position:absolute;
  left:20px;
  top:174px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
  line-height:20px;
}
#u7982 {
  position:absolute;
  left:254px;
  top:126px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
  line-height:20px;
}
#u7982_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
  line-height:20px;
}
#u7982.mouseOver {
}
#u7983 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u7984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7984 {
  position:absolute;
  left:45px;
  top:412px;
  width:230px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7984_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7984.mouseDown {
}
#u7984_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7984.disabled {
  opacity:0.5;
}
#u7985 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u7986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:53px;
}
#u7986 {
  position:absolute;
  left:45px;
  top:339px;
  width:230px;
  height:53px;
}
#u7987 {
  position:absolute;
  left:2px;
  top:18px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7988 {
  position:absolute;
  left:20px;
  top:392px;
  width:280px;
  height:10px;
}
#u7989 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7990 {
  position:absolute;
  left:45px;
  top:335px;
  width:230px;
  height:10px;
}
#u7991 {
  position:absolute;
  left:2px;
  top:-3px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992 {
  position:absolute;
  left:94px;
  top:165px;
  width:140px;
  height:140px;
  overflow:hidden;
}
#u7992_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7992_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u7993 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u7994 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7992_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:141px;
}
#u7995 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:141px;
}
#u7996 {
  position:absolute;
  left:2px;
  top:62px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
