﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14448 {
  position:fixed;
  left:0px;
  top:0px;
}
#u14448_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14448_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14449 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u14450 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u14452 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u14453 {
  position:absolute;
  left:10px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u14454 {
  position:absolute;
  left:238px;
  top:6px;
  width:14px;
  height:10px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u14455 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u14456 {
  position:absolute;
  left:295px;
  top:5px;
  width:18px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u14457 {
  position:absolute;
  left:2px;
  top:-3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u14458 {
  position:absolute;
  left:189px;
  top:0px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u14459 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u14460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u14460 {
  position:absolute;
  left:267px;
  top:0px;
  width:26px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u14461 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u14463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u14464 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u14465 {
  position:absolute;
  left:60px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u14466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u14467 {
  position:absolute;
  left:10px;
  top:34px;
  width:9px;
  height:16px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u14468 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u14469 {
  position:absolute;
  left:0px;
  top:20px;
  width:44px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u14470 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14472 {
  position:absolute;
  left:282px;
  top:39px;
  width:6px;
  height:6px;
}
#u14473 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14474 {
  position:absolute;
  left:290px;
  top:39px;
  width:6px;
  height:6px;
}
#u14475 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14476 {
  position:absolute;
  left:298px;
  top:39px;
  width:6px;
  height:6px;
}
#u14477 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:18px;
  color:#0D0D0D;
  text-align:left;
  line-height:20px;
}
#u14478 {
  position:absolute;
  left:20px;
  top:84px;
  width:280px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:18px;
  color:#0D0D0D;
  text-align:left;
  line-height:20px;
}
#u14479 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u14480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u14480 {
  position:absolute;
  left:20px;
  top:464px;
  width:280px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u14480_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u14480.mouseOver {
  opacity:0.8;
}
#u14480_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u14480.disabled {
  opacity:0.3;
}
#u14481 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u14482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u14482 {
  position:absolute;
  left:20px;
  top:314px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u14483 {
  position:absolute;
  left:0px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u14484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14484 {
  position:absolute;
  left:20px;
  top:384px;
  width:280px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14485 {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
#u14486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14486 {
  position:absolute;
  left:20px;
  top:414px;
  width:280px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14487 {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
#u14488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u14488 {
  position:absolute;
  left:20px;
  top:514px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u14489 {
  position:absolute;
  left:0px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u14490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14490 {
  position:absolute;
  left:20px;
  top:354px;
  width:280px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14491 {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
#u14492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u14492 {
  position:absolute;
  left:20px;
  top:144px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u14493 {
  position:absolute;
  left:0px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u14494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:71px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u14494 {
  position:absolute;
  left:104px;
  top:313px;
  width:204px;
  height:71px;
}
#u14495 {
  position:absolute;
  left:10px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u14496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:47px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u14496 {
  position:absolute;
  left:164px;
  top:109px;
  width:136px;
  height:47px;
}
#u14497 {
  position:absolute;
  left:10px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u14498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14498 {
  position:absolute;
  left:20px;
  top:184px;
  width:153px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14499 {
  position:absolute;
  left:0px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u14500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u14500 {
  position:absolute;
  left:190px;
  top:184px;
  width:118px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u14501 {
  position:absolute;
  left:0px;
  top:5px;
  width:118px;
  word-wrap:break-word;
}
#u14502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14502 {
  position:absolute;
  left:20px;
  top:224px;
  width:153px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14503 {
  position:absolute;
  left:0px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u14504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u14504 {
  position:absolute;
  left:190px;
  top:224px;
  width:118px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u14505 {
  position:absolute;
  left:0px;
  top:5px;
  width:118px;
  word-wrap:break-word;
}
#u14506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14506 {
  position:absolute;
  left:20px;
  top:264px;
  width:153px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
  line-height:20px;
}
#u14507 {
  position:absolute;
  left:0px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u14508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u14508 {
  position:absolute;
  left:190px;
  top:264px;
  width:118px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u14509 {
  position:absolute;
  left:0px;
  top:5px;
  width:118px;
  word-wrap:break-word;
}
