﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12940 {
  position:fixed;
  left:50%;
  margin-left:-160px;
  top:50%;
  margin-top:-284px;
}
#u12940_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12940_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12941 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  overflow:hidden;
}
#u12941_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12941_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12942 {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:568px;
}
#u12942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:568px;
}
