﻿.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._连接线 {
}
.primary_button {
  color:#FFFFFF;
}
.box_1 {
  font-family:'微软雅黑 Regular', '微软雅黑';
}
.icon {
}
.text_field {
  color:#000000;
  text-align:left;
}
.icon1 {
}
.box_2 {
}
.primary_button1 {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.ellipse {
}
.image {
}
.placeholder {
}
.flow_shape {
}
._形状 {
}
.label {
  font-size:14px;
  text-align:left;
}
.table_cell {
}
.shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._文本段落1 {
  text-align:left;
}
.menu_item {
}
.sticky_2 {
  text-align:left;
}
._形状1 {
}
.box_3 {
}
.box_31 {
}
.sticky_4 {
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.box_32 {
}
._形状2 {
}
._图片 {
  color:#000000;
}
.menu_item1 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.sticky_41 {
  text-align:left;
}
.radio_button {
  text-align:left;
}
._图片1 {
  color:#000000;
}
.text_area {
  color:#000000;
  text-align:left;
}
.box_21 {
}
.radio_button1 {
  text-align:left;
}
._形状3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.line {
}
.text_area1 {
  color:#000000;
  text-align:left;
}
._形状4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._图片2 {
  color:#000000;
}
._多行文本框 {
  color:#000000;
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
._文本段落2 {
  text-align:left;
}
.sticky_11 {
  text-align:left;
}
.sticky_42 {
  text-align:left;
}
.button {
}
