﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:487px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34649 {
  position:fixed;
  left:50%;
  margin-left:-243.5px;
  top:50%;
  margin-top:-292px;
}
#u34649_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34649_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:584px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u34650 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:584px;
  text-align:left;
}
#u34651 {
  position:absolute;
  left:40px;
  top:70px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u34652 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u34653 {
  position:absolute;
  left:40px;
  top:14px;
  width:445px;
  word-wrap:break-word;
}
#u34654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u34654 {
  position:absolute;
  left:442px;
  top:13px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u34654_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u34654.mouseOver {
}
#u34655 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u34656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:422px;
}
#u34656 {
  position:absolute;
  left:66px;
  top:60px;
  width:349px;
  height:422px;
}
#u34657 {
  position:absolute;
  left:2px;
  top:203px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u34658 {
  position:absolute;
  left:214px;
  top:454px;
  width:61px;
  height:27px;
}
#u34659 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
#u34660 {
  position:absolute;
  left:96px;
  top:481px;
  width:52px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
#u34660_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
#u34660.mouseOver {
}
#u34661 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
#u34662 {
  position:absolute;
  left:162px;
  top:481px;
  width:52px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
#u34662_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#46A3FF;
  line-height:20px;
}
#u34662.mouseOver {
}
#u34663 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
