﻿body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1040px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3802 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u3803 {
  position:absolute;
  left:61px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u3804 {
  position:absolute;
  left:0px;
  top:12px;
  width:85px;
  white-space:nowrap;
}
#u3805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u3806 {
  position:absolute;
  left:0px;
  top:14px;
  width:7px;
  height:12px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#3E3E3E;
}
#u3806_img.selected {
}
#u3806.selected {
}
#u3806_img.disabled {
}
#u3806.disabled {
  opacity:0.3;
}
#u3807 {
  position:absolute;
  left:0px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u3808 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u3808_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u3808.selected {
}
#u3809 {
  position:absolute;
  left:0px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u3810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:664px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u3810 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:664px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u3810_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:664px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u3810.selected {
}
#u3811 {
  position:absolute;
  left:2px;
  top:324px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u3812 {
  position:absolute;
  left:0px;
  top:60px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u3812_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u3812.selected {
}
#u3813 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u3814 {
  position:absolute;
  left:40px;
  top:120px;
  width:965px;
  height:485px;
}
#u3815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u3815 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3816 {
  position:absolute;
  left:10px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u3817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u3817 {
  position:absolute;
  left:247px;
  top:0px;
  width:136px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3818 {
  position:absolute;
  left:10px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u3819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u3819 {
  position:absolute;
  left:383px;
  top:0px;
  width:184px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3820 {
  position:absolute;
  left:10px;
  top:12px;
  width:174px;
  word-wrap:break-word;
}
#u3821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u3821 {
  position:absolute;
  left:567px;
  top:0px;
  width:190px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3822 {
  position:absolute;
  left:10px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u3823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
}
#u3823 {
  position:absolute;
  left:757px;
  top:0px;
  width:203px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3824 {
  position:absolute;
  left:10px;
  top:12px;
  width:193px;
  word-wrap:break-word;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:80px;
}
#u3825 {
  position:absolute;
  left:0px;
  top:40px;
  width:247px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3825_img.selected {
}
#u3825.selected {
}
#u3826 {
  position:absolute;
  left:60px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u3827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:80px;
}
#u3827 {
  position:absolute;
  left:247px;
  top:40px;
  width:136px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3827_img.selected {
}
#u3827.selected {
}
#u3828 {
  position:absolute;
  left:10px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u3829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:80px;
}
#u3829 {
  position:absolute;
  left:383px;
  top:40px;
  width:184px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3829_img.selected {
}
#u3829.selected {
}
#u3830 {
  position:absolute;
  left:10px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u3831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
}
#u3831 {
  position:absolute;
  left:567px;
  top:40px;
  width:190px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3831_img.selected {
}
#u3831.selected {
}
#u3832 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u3833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:80px;
}
#u3833 {
  position:absolute;
  left:757px;
  top:40px;
  width:203px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3833_img.selected {
}
#u3833.selected {
}
#u3834 {
  position:absolute;
  left:10px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:72px;
}
#u3835 {
  position:absolute;
  left:0px;
  top:120px;
  width:247px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3835_img.selected {
}
#u3835.selected {
}
#u3836 {
  position:absolute;
  left:60px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u3837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:72px;
}
#u3837 {
  position:absolute;
  left:247px;
  top:120px;
  width:136px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3837_img.selected {
}
#u3837.selected {
}
#u3838 {
  position:absolute;
  left:10px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u3839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:72px;
}
#u3839 {
  position:absolute;
  left:383px;
  top:120px;
  width:184px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3839_img.selected {
}
#u3839.selected {
}
#u3840 {
  position:absolute;
  left:10px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u3841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:72px;
}
#u3841 {
  position:absolute;
  left:567px;
  top:120px;
  width:190px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3841_img.selected {
}
#u3841.selected {
}
#u3842 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u3843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:72px;
}
#u3843 {
  position:absolute;
  left:757px;
  top:120px;
  width:203px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3843_img.selected {
}
#u3843.selected {
}
#u3844 {
  position:absolute;
  left:10px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u3845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:72px;
}
#u3845 {
  position:absolute;
  left:0px;
  top:192px;
  width:247px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3845_img.selected {
}
#u3845.selected {
}
#u3846 {
  position:absolute;
  left:60px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u3847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:72px;
}
#u3847 {
  position:absolute;
  left:247px;
  top:192px;
  width:136px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3847_img.selected {
}
#u3847.selected {
}
#u3848 {
  position:absolute;
  left:10px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u3849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:72px;
}
#u3849 {
  position:absolute;
  left:383px;
  top:192px;
  width:184px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3849_img.selected {
}
#u3849.selected {
}
#u3850 {
  position:absolute;
  left:10px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u3851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:72px;
}
#u3851 {
  position:absolute;
  left:567px;
  top:192px;
  width:190px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3851_img.selected {
}
#u3851.selected {
}
#u3852 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:72px;
}
#u3853 {
  position:absolute;
  left:757px;
  top:192px;
  width:203px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3853_img.selected {
}
#u3853.selected {
}
#u3854 {
  position:absolute;
  left:10px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u3855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:72px;
}
#u3855 {
  position:absolute;
  left:0px;
  top:264px;
  width:247px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3855_img.selected {
}
#u3855.selected {
}
#u3856 {
  position:absolute;
  left:60px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u3857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:72px;
}
#u3857 {
  position:absolute;
  left:247px;
  top:264px;
  width:136px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3857_img.selected {
}
#u3857.selected {
}
#u3858 {
  position:absolute;
  left:10px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u3859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:72px;
}
#u3859 {
  position:absolute;
  left:383px;
  top:264px;
  width:184px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3859_img.selected {
}
#u3859.selected {
}
#u3860 {
  position:absolute;
  left:10px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u3861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:72px;
}
#u3861 {
  position:absolute;
  left:567px;
  top:264px;
  width:190px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3861_img.selected {
}
#u3861.selected {
}
#u3862 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:72px;
}
#u3863 {
  position:absolute;
  left:757px;
  top:264px;
  width:203px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3863_img.selected {
}
#u3863.selected {
}
#u3864 {
  position:absolute;
  left:10px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:72px;
}
#u3865 {
  position:absolute;
  left:0px;
  top:336px;
  width:247px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3865_img.selected {
}
#u3865.selected {
}
#u3866 {
  position:absolute;
  left:60px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u3867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:72px;
}
#u3867 {
  position:absolute;
  left:247px;
  top:336px;
  width:136px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3867_img.selected {
}
#u3867.selected {
}
#u3868 {
  position:absolute;
  left:10px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u3869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:72px;
}
#u3869 {
  position:absolute;
  left:383px;
  top:336px;
  width:184px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3869_img.selected {
}
#u3869.selected {
}
#u3870 {
  position:absolute;
  left:10px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:72px;
}
#u3871 {
  position:absolute;
  left:567px;
  top:336px;
  width:190px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3871_img.selected {
}
#u3871.selected {
}
#u3872 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:72px;
}
#u3873 {
  position:absolute;
  left:757px;
  top:336px;
  width:203px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3873_img.selected {
}
#u3873.selected {
}
#u3874 {
  position:absolute;
  left:10px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:72px;
}
#u3875 {
  position:absolute;
  left:0px;
  top:408px;
  width:247px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3875_img.selected {
}
#u3875.selected {
}
#u3876 {
  position:absolute;
  left:60px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:72px;
}
#u3877 {
  position:absolute;
  left:247px;
  top:408px;
  width:136px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3877_img.selected {
}
#u3877.selected {
}
#u3878 {
  position:absolute;
  left:10px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:72px;
}
#u3879 {
  position:absolute;
  left:383px;
  top:408px;
  width:184px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3879_img.selected {
}
#u3879.selected {
}
#u3880 {
  position:absolute;
  left:10px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:72px;
}
#u3881 {
  position:absolute;
  left:567px;
  top:408px;
  width:190px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3881_img.selected {
}
#u3881.selected {
}
#u3882 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:72px;
}
#u3883 {
  position:absolute;
  left:757px;
  top:408px;
  width:203px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3883_img.selected {
}
#u3883.selected {
}
#u3884 {
  position:absolute;
  left:10px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3885 {
  position:absolute;
  left:56px;
  top:174px;
  width:35px;
  height:35px;
}
#u3886 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3887 {
  position:absolute;
  left:56px;
  top:325px;
  width:35px;
  height:35px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3889 {
  position:absolute;
  left:56px;
  top:252px;
  width:35px;
  height:35px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3891 {
  position:absolute;
  left:56px;
  top:396px;
  width:35px;
  height:35px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3893 {
  position:absolute;
  left:56px;
  top:540px;
  width:35px;
  height:35px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3895 {
  position:absolute;
  left:56px;
  top:468px;
  width:35px;
  height:35px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3900 {
  position:absolute;
  left:949px;
  top:610px;
  width:51px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3901 {
  position:absolute;
  left:0px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-right:0px;
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#D7D7D7;
}
#u3902 {
  position:absolute;
  left:723px;
  top:610px;
  width:51px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#D7D7D7;
}
#u3903 {
  position:absolute;
  left:0px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3904 {
  position:absolute;
  left:798px;
  top:610px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3905 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u3906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3906 {
  position:absolute;
  left:821px;
  top:610px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3907 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u3908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3908 {
  position:absolute;
  left:846px;
  top:610px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3909 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3910 {
  position:absolute;
  left:870px;
  top:610px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3911 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3912 {
  position:absolute;
  left:895px;
  top:610px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3913 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3914 {
  position:absolute;
  left:918px;
  top:610px;
  width:31px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3915 {
  position:absolute;
  left:0px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u3916 {
  position:absolute;
  left:773px;
  top:610px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u3917 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3918 {
  position:absolute;
  left:899px;
  top:615px;
  width:16px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3919 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3920 {
  position:absolute;
  left:40px;
  top:704px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
