﻿body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1040px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:967px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u41580 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:967px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u41580_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:967px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u41580.selected {
}
#u41581 {
  position:absolute;
  left:2px;
  top:476px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41582 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u41583 {
  position:absolute;
  left:61px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u41584 {
  position:absolute;
  left:0px;
  top:12px;
  width:85px;
  white-space:nowrap;
}
#u41585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u41586 {
  position:absolute;
  left:0px;
  top:14px;
  width:7px;
  height:12px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#3E3E3E;
}
#u41586_img.selected {
}
#u41586.selected {
}
#u41586_img.disabled {
}
#u41586.disabled {
  opacity:0.3;
}
#u41587 {
  position:absolute;
  left:0px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u41588 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u41588_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u41588.selected {
}
#u41589 {
  position:absolute;
  left:0px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u41590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41590 {
  position:absolute;
  left:0px;
  top:60px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41590_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41590.selected {
}
#u41591 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u41592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#1E1E1E;
  line-height:20px;
}
#u41592 {
  position:absolute;
  left:160px;
  top:120px;
  width:138px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#1E1E1E;
  line-height:20px;
}
#u41593 {
  position:absolute;
  left:0px;
  top:5px;
  width:153px;
  white-space:nowrap;
}
#u41594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41594 {
  position:absolute;
  left:40px;
  top:120px;
  width:40px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41595 {
  position:absolute;
  left:0px;
  top:5px;
  width:41px;
  white-space:nowrap;
}
#u41596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41596 {
  position:absolute;
  left:40px;
  top:150px;
  width:52px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41597 {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  white-space:nowrap;
}
#u41598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  line-height:20px;
}
#u41598 {
  position:absolute;
  left:160px;
  top:220px;
  width:78px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  line-height:20px;
}
#u41599 {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  white-space:nowrap;
}
#u41600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41600 {
  position:absolute;
  left:40px;
  top:220px;
  width:52px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41601 {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  white-space:nowrap;
}
#u41602 {
  position:absolute;
  left:40px;
  top:539px;
  width:965px;
  height:75px;
}
#u41603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41603 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41604 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u41605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41605 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41606 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u41607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41607 {
  position:absolute;
  left:320px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41608 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u41609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41609 {
  position:absolute;
  left:480px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41610 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41611 {
  position:absolute;
  left:640px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41612 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41613 {
  position:absolute;
  left:800px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41614 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41615 {
  position:absolute;
  left:40px;
  top:309px;
  width:52px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41616 {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  white-space:nowrap;
}
#u41617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  line-height:20px;
}
#u41617 {
  position:absolute;
  left:160px;
  top:279px;
  width:94px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  line-height:20px;
}
#u41618 {
  position:absolute;
  left:0px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u41619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41619 {
  position:absolute;
  left:40px;
  top:279px;
  width:50px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41620 {
  position:absolute;
  left:0px;
  top:5px;
  width:51px;
  white-space:nowrap;
}
#u41621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41621 {
  position:absolute;
  left:40px;
  top:339px;
  width:52px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41622 {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  white-space:nowrap;
}
#u41623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#1E1E1E;
  line-height:20px;
}
#u41623 {
  position:absolute;
  left:160px;
  top:150px;
  width:413px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#1E1E1E;
  line-height:20px;
}
#u41624 {
  position:absolute;
  left:0px;
  top:5px;
  width:413px;
  word-wrap:break-word;
}
#u41625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  line-height:20px;
}
#u41625 {
  position:absolute;
  left:160px;
  top:249px;
  width:94px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  line-height:20px;
}
#u41626 {
  position:absolute;
  left:0px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u41627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41627 {
  position:absolute;
  left:40px;
  top:249px;
  width:52px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41628 {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  white-space:nowrap;
}
#u41629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  line-height:20px;
}
#u41629 {
  position:absolute;
  left:160px;
  top:309px;
  width:123px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  line-height:20px;
}
#u41630 {
  position:absolute;
  left:0px;
  top:5px;
  width:135px;
  white-space:nowrap;
}
#u41631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#0099FF;
  line-height:20px;
}
#u41631 {
  position:absolute;
  left:160px;
  top:339px;
  width:333px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#0099FF;
  line-height:20px;
}
#u41632 {
  position:absolute;
  left:0px;
  top:5px;
  width:350px;
  white-space:nowrap;
}
#u41633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41633 {
  position:absolute;
  left:40px;
  top:369px;
  width:91px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u41634 {
  position:absolute;
  left:0px;
  top:5px;
  width:92px;
  white-space:nowrap;
}
#u41635 {
  position:absolute;
  left:160px;
  top:369px;
  width:407px;
  height:85px;
}
#u41636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u41636 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u41637 {
  position:absolute;
  left:10px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u41638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
}
#u41638 {
  position:absolute;
  left:80px;
  top:0px;
  width:322px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u41639 {
  position:absolute;
  left:10px;
  top:12px;
  width:312px;
  word-wrap:break-word;
}
#u41640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u41640 {
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u41640_img.selected {
}
#u41640.selected {
}
#u41641 {
  position:absolute;
  left:10px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u41642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
}
#u41642 {
  position:absolute;
  left:80px;
  top:40px;
  width:322px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u41642_img.selected {
}
#u41642.selected {
}
#u41643 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u41644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41644 {
  position:absolute;
  left:0px;
  top:449px;
  width:1040px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41644_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41644.selected {
}
#u41645 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41646 {
  position:absolute;
  left:40px;
  top:619px;
  width:965px;
  height:75px;
}
#u41647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41647 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41648 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u41649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41649 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41650 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u41651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41651 {
  position:absolute;
  left:320px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41652 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u41653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41653 {
  position:absolute;
  left:480px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41654 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u41655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41655 {
  position:absolute;
  left:640px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41656 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u41657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u41657 {
  position:absolute;
  left:800px;
  top:0px;
  width:160px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u41658 {
  position:absolute;
  left:10px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u41659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41659 {
  position:absolute;
  left:0px;
  top:479px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41659_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41659.selected {
}
#u41660 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u41661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41661 {
  position:absolute;
  left:0px;
  top:689px;
  width:1040px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41661_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41661.selected {
}
#u41662 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41663 {
  position:absolute;
  left:0px;
  top:719px;
  width:1040px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41663_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#1B1B1B;
  text-align:left;
  line-height:20px;
}
#u41663.selected {
}
#u41664 {
  position:absolute;
  left:40px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u41665 {
  position:absolute;
  left:40px;
  top:779px;
  width:965px;
  height:125px;
}
#u41666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:40px;
}
#u41666 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u41667 {
  position:absolute;
  left:10px;
  top:12px;
  width:268px;
  word-wrap:break-word;
}
#u41668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u41668 {
  position:absolute;
  left:278px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u41669 {
  position:absolute;
  left:10px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u41670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u41670 {
  position:absolute;
  left:386px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u41671 {
  position:absolute;
  left:10px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u41672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u41672 {
  position:absolute;
  left:487px;
  top:0px;
  width:119px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u41673 {
  position:absolute;
  left:10px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u41674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u41674 {
  position:absolute;
  left:606px;
  top:0px;
  width:112px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u41675 {
  position:absolute;
  left:10px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u41676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u41676 {
  position:absolute;
  left:718px;
  top:0px;
  width:112px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u41677 {
  position:absolute;
  left:10px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u41678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u41678 {
  position:absolute;
  left:830px;
  top:0px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u41679 {
  position:absolute;
  left:10px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u41680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:80px;
}
#u41680 {
  position:absolute;
  left:0px;
  top:40px;
  width:278px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  text-align:left;
}
#u41680_img.selected {
}
#u41680.selected {
}
#u41681 {
  position:absolute;
  left:50px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u41682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:80px;
}
#u41682 {
  position:absolute;
  left:278px;
  top:40px;
  width:108px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u41682_img.selected {
}
#u41682.selected {
}
#u41683 {
  position:absolute;
  left:10px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u41684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
}
#u41684 {
  position:absolute;
  left:386px;
  top:40px;
  width:101px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u41684_img.selected {
}
#u41684.selected {
}
#u41685 {
  position:absolute;
  left:10px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u41686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
}
#u41686 {
  position:absolute;
  left:487px;
  top:40px;
  width:119px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u41686_img.selected {
}
#u41686.selected {
}
#u41687 {
  position:absolute;
  left:10px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u41688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:80px;
}
#u41688 {
  position:absolute;
  left:606px;
  top:40px;
  width:112px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u41688_img.selected {
}
#u41688.selected {
}
#u41689 {
  position:absolute;
  left:10px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u41690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:80px;
}
#u41690 {
  position:absolute;
  left:718px;
  top:40px;
  width:112px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u41690_img.selected {
}
#u41690.selected {
}
#u41691 {
  position:absolute;
  left:10px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u41692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u41692 {
  position:absolute;
  left:830px;
  top:40px;
  width:130px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u41692_img.selected {
}
#u41692.selected {
}
#u41693 {
  position:absolute;
  left:10px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u41694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u41694 {
  position:absolute;
  left:49px;
  top:831px;
  width:35px;
  height:35px;
}
#u41695 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41696 {
  position:absolute;
  left:40px;
  top:1007px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
