﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38650 {
  position:fixed;
  left:50%;
  margin-left:-230px;
  top:50%;
  margin-top:-195px;
}
#u38650_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u38650_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u38651 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:390px;
  text-align:left;
}
#u38652 {
  position:absolute;
  left:40px;
  top:70px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u38653 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u38654 {
  position:absolute;
  left:40px;
  top:14px;
  width:418px;
  word-wrap:break-word;
}
#u38655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38655 {
  position:absolute;
  left:0px;
  top:340px;
  width:460px;
  height:50px;
}
#u38656 {
  position:absolute;
  left:2px;
  top:17px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u38657 {
  position:absolute;
  left:425px;
  top:13px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u38657_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u38657.mouseOver {
}
#u38658 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u38659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38659 {
  position:absolute;
  left:40px;
  top:70px;
  width:32px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38660 {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u38661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38661 {
  position:absolute;
  left:40px;
  top:110px;
  width:32px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38662 {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u38663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u38663 {
  position:absolute;
  left:270px;
  top:350px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u38663_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u38663.mouseOver {
  opacity:0.8;
}
#u38664 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u38665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u38665 {
  position:absolute;
  left:360px;
  top:350px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u38665_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u38665.mouseOver {
}
#u38665_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 224, 229, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u38665.disabled {
  opacity:0.3;
}
#u38666 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u38667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 207, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38668 {
  position:absolute;
  left:160px;
  top:70px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38668_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(155, 167, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38668.selected {
}
#u38668_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38668.disabled {
}
#u38669 {
  position:absolute;
  left:10px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38670 {
  position:absolute;
  left:164px;
  top:70px;
  width:243px;
  height:30px;
}
#u38670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:30px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38671 {
  position:absolute;
  left:40px;
  top:230px;
  width:27px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38672 {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  white-space:nowrap;
}
#u38673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38673 {
  position:absolute;
  left:40px;
  top:190px;
  width:27px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38674 {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  white-space:nowrap;
}
#u38675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 207, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38676 {
  position:absolute;
  left:160px;
  top:110px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38676_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(155, 167, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38676.selected {
}
#u38676_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38676.disabled {
}
#u38677 {
  position:absolute;
  left:10px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38678 {
  position:absolute;
  left:164px;
  top:110px;
  width:243px;
  height:30px;
}
#u38678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:30px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 207, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38680 {
  position:absolute;
  left:160px;
  top:190px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38680_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(155, 167, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38680.selected {
}
#u38680_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38680.disabled {
}
#u38681 {
  position:absolute;
  left:10px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38682 {
  position:absolute;
  left:164px;
  top:190px;
  width:243px;
  height:30px;
}
#u38682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:30px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 207, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38684 {
  position:absolute;
  left:160px;
  top:230px;
  width:250px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38684_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(155, 167, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38684.selected {
}
#u38684_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u38684.disabled {
}
#u38685 {
  position:absolute;
  left:10px;
  top:27px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38686 {
  position:absolute;
  left:164px;
  top:231px;
  width:238px;
  height:65px;
}
#u38686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u38687 {
  position:absolute;
  left:325px;
  top:277px;
  width:55px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u38688 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u38689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38689 {
  position:absolute;
  left:40px;
  top:150px;
  width:27px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#777777;
  line-height:20px;
}
#u38690 {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  white-space:nowrap;
}
.u38692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u38693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
.u38693 {
  position:absolute;
  left:16px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
.u38694 {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
.u38695 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u38696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u38696 {
  position:absolute;
  left:0px;
  top:9px;
  width:13px;
  height:13px;
}
.u38696_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u38696.selected {
}
.u38697 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
.u38698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
.u38698 {
  position:absolute;
  left:3px;
  top:13px;
  width:8px;
  height:6px;
}
.u38699 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38691-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u38691-2 {
  position:absolute;
  left:96px;
  top:0px;
  width:96px;
  height:30px;
}
#u38691 {
  position:absolute;
  left:160px;
  top:150px;
  width:192px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u38700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:97px;
}
#u38700 {
  position:absolute;
  left:279px;
  top:181px;
  width:181px;
  height:86px;
  font-size:12px;
  line-height:12px;
}
#u38701 {
  position:absolute;
  left:7px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
