﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u14085 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u14086 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u14087 {
  position:absolute;
  left:0px;
  top:492px;
  width:320px;
  height:55px;
}
#u14088 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u14089 {
  position:absolute;
  left:0px;
  top:514px;
  width:320px;
  height:55px;
}
#u14090 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u14091 {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:55px;
}
#u14092 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u14093 {
  position:absolute;
  left:115px;
  top:398px;
  width:91px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u14094 {
  position:absolute;
  left:0px;
  top:20px;
  width:92px;
  white-space:nowrap;
}
#u14095 {
  position:absolute;
  left:0px;
  top:20px;
  width:45px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
